body {
  background-color: #000000;
}
.mainTextHolder{
height:25px;
width:75px;
background-color: black;
border-radius: 5px;
padding: 5px; 
border: 1px solid white;
position: relative;
left:218px;
top:-5px;
}
.mainText{
  font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif
  color:white;
  font-size:30px;
  text-align: left;
  position:relative;
  left:0px;
  top:-38px;
}
.arrowImage{
	width:28px;
	height:28px;
	position: relative;
	left:50px;
  	top:-101px;
}
.chartBackground{
	position: relative;
	left:-8px;
	top:12px;
	width:316px;
	height:190px;
	background-color:#111111;
}
.chartMarkers{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	color: white;
	font-size:13px;
	position:relative;
	left:290px;
	margin-top:5px;
	margin-bottom:9px;
}

.horizontal_dotted_line{
  border-bottom: 1px dashed;  
  border-color:grey;
  opacity:0.3;
  width: 100%;
  position: absolute;
  display:inline-block;
}
.innerChart{
	position: absolute;
	width:288px;
	height:165px;
}
.background{
	height:200px;
	width:300px;
}
.dateMarkers{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	color: white;
	font-size:13px;
	top:-7px;
	position:relative;
  	display:inline;
  	text-align: center;
}
.verticalLine{
  border-left: 2px dashed;
  opacity:1;
  border-color:grey;
  height: 150px;
  top:7px;
  position: absolute;
  left:260px;
}
.lines{
	width:100%;
	height:100%;
}

#line400{
	top:7px;
}#line340{
	top:32px;
}#line280{
	top:57px;
}#line220{
	top:82px;
}#line160{
	top:107px;
}#line100{
	top:132px;
}#line40{
	top:157px;
}
#date1{
left:0px;
}
#date2{
left:175px;
}
.dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
}
.hourButton{
	top:40px;
	height: 20px;
	width:35px;
	background-color:#808080;
	position: absolute;
	border-radius:3px;
	border: none;
}
.hourButtonPressed{
	top:40px;
	height: 20px;
	width:35px;
	background-color:black;
	position: absolute;
	border-radius:3px;
	border: none;
}

.hourButton > p{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	font-size:16px;
	top:-15px;
	left:0px;
	position:absolute;
}

.hourButtonPressed > p{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	font-size:16px;
	top:-15px;
	left:0px;
	position:absolute;
	color:gray;
}

#halfhour{
left:0px;
}
#twohour{
left:38px;
}
#sixhour{
left:76px;
}
#twelvehour{
left:114px;
}
#twentyfourhour{
left:152px;
}
.gearImage{
width:25px;
height:25px;
position:absolute;
left:0px;
top:0px;
}
.gear{
width:25px;
height:25px;
position:absolute;
background-color:black;
left:0px;
top:2px;
border: none;
}
.errorText{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	position:absolute;
	top:80px;
	left:60px;
	color:white;
	z-index:5;
	text-align:center;
	font-size:20px;
}

.fullDeltaValue{
	top:41px;
	height: 20px;
	width:87px;
	left:226px;
	background-color:gray;
	position: absolute;
	border-radius:3px;
	border: none;
	z-index:6;
}
.fullDeltaLabel{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	font-size:16px;
	color:black;
	top:-16px;
	left:34px;
	position:relative;
}
.fullInnerDeltaDisplay{
	height: 18px;
	left:1px;
	top:1px;
	width:30px;
	background-color:black;
	position: absolute;
	border-radius:3px;
	border: none;
	z-index:7;
}
.fullInnerDeltaLabel{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	font-size:14px;
	color:gray;
	top:-14px;
	position:relative;
	text-align:center;
}
.mouseOverDiv{
	font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	width:53px;
	height:40px;
	background-color:gray;
	z-index:8;
	position: absolute;
	border-radius:3px;
	top:180px;
	left:208px;
	visibility:hidden;
	/*add 26 to top. minus fifty from left*/
}
.mouseOverBGV{
position: absolute;
left:1px;
top:-11px;
}
.mouseOverTime{
position: absolute;
left:9px;
top:1px;
}
.mouseOverTimeValue{
position: relative;
top:13px;
left:-1px;
text-align:center;
}
.nightscoutGray{
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.nightscoutButton{
	width:25px;
	height:25px;
	position:absolute;
	background-color:black;
	left:25px;
	top:2px;
	border: none;
}